$fontSizeDefault: 1rem;
$fontSizeXXS: 0.75rem;
$fontSizeXS: 0.875rem;
$fontSizeS: 1rem;
$fontSizeM: 1.125rem;
$fontSizeL: 1.25rem;
$fontSizeXL: 1.5rem;
$fontSizeXXL: 1.625rem;
$fontSizeXXXL: 2rem;
$fontSizeXXXXL: 2.25rem;
$fontSizeXXXXXL: 2.5rem;
$fontSizeXXXXXXL: 3rem;

$colorPrimaryYellow: #f3c300;
$colorPrimaryBlack: #111921;
$colorPrimaryWhite: #ffffff;
$colorPrimaryGreen: #03a91d;
$colorPrimaryGray: #9a9898;
$colorPrimaryBlue: #005fdd;
$colorPrimaryOrange: #f1592c;
$colorBlueLight: #1aa7ec;
$colorBlue: #005fdd;
$colorBlueOrangeLight: #f79520;
$colorBlueOrange: #f1592c;
$colorBlackDark: #000000;
$colorBlack: #111921;
$colorBlackLight: #222324;
$colorGrayDark: #676869;
$colorGray: #9a9898;
$colorGrayLight: #dfdfdf;
$colorYellowDark: #e8ba00;
$colorYellow: #f3c300;
$colorYellowLight: #fad851;
$colorBgColorDefault: #dfdfdf;
$colorPrimaryRed: red;

$XS: '576px';
$SM: '768px';
$MD: '992px';
$LG: '1200px';
$XL: '1600px';
